<div class="banner">
    <div class="title">本场报名序号：{{xh}}</div>
    <img src="{{avatar}}"  class="bg">
    <div class="avatar-2">
        <div class="avatar-1">
            <img src="{{avatar}}" class="avatar">
        </div>
    </div>
    <div class="name">
        {{name}}
    </div>
    <div class="ui-grid info">
        <div class="ui-grid-row">
            <div class="ui-grid-2 label">
                <span class="iconfont">
                    &#xe601;
                </span>
            </div>
            <div class="ui-grid-10">
                {{tel}}
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-2 label">
                <div class="iconfont">
                    &#xe602;
                </div>
            </div>
            <div class="ui-grid-10">
                {{wechat}}
            </div>
        </div>
    </div>
</div>
<div class="detail">
    <div class="ui-grid">
        <div class="ui-grid-row">
            <div class="ui-grid-3 label">
                本人行业：
            </div>
            <div class="ui-grid-9">
                {{industry}}
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-3 label">
                本人标签：
            </div>
            <div class="ui-grid-9">
                {{tag}}
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-3 label">
                择友标签：
            </div>
            <div class="ui-grid-9">
                {{find_tag}}
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-3 label">
                自我介绍：
            </div>
            <div class="ui-grid-9">
                {{introduction}}
            </div>
        </div>
    </div>
</div>